body {
    font-family: 'Roboto', Helvetica Neue, sans-serif;
    font-weight: 400;
    color: #333;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.content {
    font-size: 110%;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: left;
    padding-bottom: 10px;
}

p {
    margin-top: 0;
}

.art-header {
    font-size: 200%;
}

.art-header a {
    color: #333;
    text-decoration: none;
    border: none;
    -webkit-transition: color .25s linear;
    -moz-transition: color .25s linear;
    -o-transition: color .25s linear;
    transition: color .25s linear;
}

.art-header a:hover {
    color: #40c365;
    text-decoration: none;
    border: none;
    -webkit-transition: color .25s linear;
    -moz-transition: color .25s linear;
    -o-transition: color .25s linear;
    transition: color .25s linear;
}

article a {
    text-decoration: none;
    color: #40c365;
    border-bottom: 1px solid transparent;
    -webkit-transition: border 1s ease;
    -moz-transition: border 1s ease;
    -o-transition: border 1s ease;
    transition: border 1s ease;
}

article a:hover {
    border-bottom: 1px solid;
    -webkit-transition: border 1s ease;
    -moz-transition: border 1s ease;
    -o-transition: border 1s ease;
    transition: border 1s ease;
}

article a:visited {
    color: #555;
}

h1 {
    font-weight: 900;
    font-size: 5.2em;
    margin-top: .1em;
    margin-bottom: .2em;
}

h1 a:hover {
    border: none;
}

h3 {
    font-size: 160%;
}

.headline1 {
    display: inline-block;
    line-height: 1em;
    color: #40c365;
    border-bottom: 3px solid #333;
}

.headline2 {
    display: inline-block;
    line-height: 1em;
    color: #333;
    border-bottom: 3px solid #333;
}

.headline3 {
    display: inline-block;
    line-height: 1em;
    color: #333;
    border-bottom: 3px solid #40c365;
}

.post-info {
    font-size: 70%;
}

.art-header {
    margin-bottom: 0;
}

.art-text {
    margin-bottom: 48px;
}

.header-menu {
    vertical-align: bottom;
    margin-bottom: 24px;
}

#menu-list {
    float: right;
    margin-left: auto;
    margin-right: 0px;
}

.tag-cloud {
    list-style-type: none;
}

.tag-4 {
    font-size: 60%;
}

.tag-3 {
    font-size: 80%;
}

.tag-1 {
    font-size: 120%;
}

.social a {
    text-decoration: none;
    border: none;
}

.social a:hover {
    text-decoration: none;
    border: none;
}

blockquote {
    padding-left: 12px;
    border-left: 6px solid #40c365;
}

/* Media queries */

    @media (min-width: 1100px) {
        body { font-size: 100%;}
        .content { width: 80%; }

    }

    @media (max-width: 867px) {
        body { font-size: 80%;}
    }

    @media (max-width: 480px) {
        body {
            font-size: 65%;
            width: 85%; }
        .header-menu { display: none; }
        .footer-menu { display: block; }
    }